<footer class="footer">
            <div class="outer-container footer-top-container">
                <div class="main-container clearfix">
                    <div class="footer-item footer-item-first left">
                        <ul>
                            <li class="link-item"><a href="/" class="link">首页</a></li>
                            <li class="link-item"><a href="/zone/news" class="link">42区</a></li>
                            <li class="link-item"><a href="/zone/scoff" class="link">段子</a></li>
                            <li class="link-item"><a href="/zone/pic" class="link">图片</a></li>
                            <li class="link-item"><a href="/zone/tec" class="link">挨踢1024</a></li>
                            <li class="link-item"><a href="/zone/ask" class="link">你问我答</a></li>
                        </ul>
                    </div>
                    <div class="footer-item left">
                        <ul>
                            <li class="link-item"><a onclick="lack();" class="link">人类发布</a></li>
                            <li class="link-item"><a onclick="lack();" class="link">视频</a></li>
                        </ul>
                    </div>
{#                    <div class="footer-item left">#}
{#                        <ul>#}
{#                            <li class="link-item"><a href="/discovery/sh" class="link">社会</a></li>#}
{#                            <li class="link-item"><a href="/discovery/gj" class="link">世界</a></li>#}
{#                            <li class="link-item"><a href="/discovery/tech" class="link">科技</a></li>#}
{#                            <li class="link-item"><a href="/discovery/ent" class="link">娱乐</a></li>#}
{#                            <li class="link-item"><a href="/discovery/sport" class="link">体育</a></li>#}
{#                            <li class="link-item"><a href="/discovery/finance" class="link">财经</a></li>#}
{#                            <li class="link-item"><a href="/discovery/war" class="link">军事</a></li>#}
{#                        </ul>#}
{#                    </div>#}

                </div>
            </div>
        </footer>

