<head>
    <meta charset="utf-8">
    <title>抽屉新热榜-聚合每日热门、搞笑、有趣资讯</title>
    <meta name="keywords" content="抽屉新热榜,资讯,段子,图片,公众场合不宜,科技,新闻,节操,搞笑">
    <meta name="description"
        content="抽屉新热榜，汇聚每日搞笑段子、热门图片、有趣新闻。它将微博、门户、社区、bbs、社交网站等海量内容聚合在一起，通过用户推荐生成最热榜单。看抽屉新热榜，每日热门、有趣资讯尽收眼底。">
    <meta name="author" content="北京格致璞科技有限公司">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
        draggable="false">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/statics/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/statics/images/favicon-d38b877458.png" type="image/vnd.microsoft.icon">
    <link rel="icon" href="https://dig.chouti.com/images/favicon-d38b877458.png" type="image/vnd.microsoft.icon">
    <link href="/statics/images/favicon-d38b877458.png" mce_href="/statics/images/favicon-d38b877458.png" rel="icon"
        type="image/x-icon">
    <meta name="robots" content="index,follow">
    <meta name="GOOGLEBOT" content="index,follow">
    <meta name="Author" content="搞笑">
    <link type="application/opensearchdescription+xml" href="/opensearch.xml" title="抽屉" rel="search">
    <link rel="stylesheet" type="text/css" media="screen" href="/statics/css/bootstrap.css" />
    <script src="/statics/js/jquery-3.3.1.js"></script>
    <script src="/statics/js/bootstrap.js"></script>

    <script>
        history.scrollRestoration = "manual"
    </script>
    <link type="text/css" rel="stylesheet" href="/statics/css/base-4ac8f44ec8.css">
</head>