<div>
    <div class="extra">
        <div class="extra-report-con mb18">
            <div class="extra-report-container">
                <div class="extra-report-con report-news-con"><a class="report-link report-news"
                        href="http://www.12377.cn/" target="_blank;"><img class="report-icon"
                            src="/statics/picture/report-906ef0ec40.png"><span>网上有害信息举报专区</span></a></div>
                <div class="extra-report-con report-child-con"><a class="report-link report-child"
                        href="/report?type=children" target="_blank;"><img class="report-children-icon"
                            src="/statics/picture/tmp-01bc96e6b7.png"><span>儿童色情信息举报专区</span></a></div>
            </div>
        </div><a class="extra-common-con border-bottom1" href="/exist" target="_blank"><img
                class="rule-icon" src="/statics/picture/rule-1a229473ee.png"> <span
                class="rule-txt">抽屉生存法则</span> <span class="divide-line"></span> <span
                class="rule-note">如何避免自己被封号</span> </a><a class="extra-common-con mb18"
            href="/topic/157" target="_blank"><img class="rule-icon"
                src="/statics/picture/manage-a2d77a62ed.png"> <span class="rule-txt">抽屉管理公告</span> <span
                class="divide-line"></span> <span class="rule-note">《生存法则》修正案</span></a>
        <div class="extra-common-con border-bottom1"><span class="title-line"></span> <span
                class="extra-title extra-title-left">最热榜</span> <span
                class="extra-title bold">TOP10</span></div>
        <div class="extra-common-con mb-3 extra-common-con-no-bottom">
            <ul class="nav-tab clearfix">
                <li class="left nav-li nav-li-extra"><a class="active" href="javascript:;"
                        data-time="24hr">24小时</a></li>
                <li class="left nav-li"><span class="nav-line"></span></li>
                <li class="left nav-li nav-li-extra"><a href="javascript:;" data-time="72hr">3天</a></li>
                <li class="left nav-li"><span class="nav-line"></span></li>
                <li class="left nav-li nav-li-extra"><a href="javascript:;" data-time="168hr">一周</a>
                </li>
            </ul>
        </div>
        <div class="extra-common-con mb18 pdt0 mt-1">
            <div class="extra-loading-more link-loading-more"><span
                    class="link-loading-icon small extra-loading-icon"><span
                        class="rect rect1"></span><span class="rect rect2"></span><span
                        class="rect rect3"></span></span></div>
            <div class="extra-links-con">
                <div class="con-hour con-24hr"></div>
                <div class="con-hour con-72hr"></div>
                <div class="con-hour con-168hr"></div>
            </div>
        </div>
    </div>
</div>