<a class="right notice-con"><span class="notice-icon"></span><span class="new-dot" style="display: none;"></span> <span
        class="msg-hover-down"><span class="msg-hover-down-bg"><span class="notice-loading-more"
                style="display: none;"><span class="link-loading-icon small notice-loading-icon"><span
                        class="rect rect1"></span><span class="rect rect2"></span><span
                        class="rect rect3"></span></span> </span><span class="msg-outer-con" style="display: inline;">
                <span class="msg-con">
                    <img src="/images/white-angle-b653d167a1.png" alt="" class="white-angle">
                    <span class="msg-block title-con clearfix">
                        <a class="title left" href="/message/comment">评论 </a>
                        <a href="/notify" class="setting right">设置</a>

                    </span>
                    <span class="notice-tips">还没有新的评论消息~</span>
                    <span class="notify-con clearfix">
                        <a class="notify left" href="/message/notice">
                            通知
                        </a>
                        <a class="feed right" href="/dynamic/all">
                            动态
                        </a>
                    </span>

                </span>
            </span> </span></span></a>